body{
    background-image: url(img/wallpaper001.jpg);
}

div.quadrado{
    border: 2px solid black;
    border-radius: 10px ;
    background-color: lightgray;
    width: 300px;
    height: 300px;
    display: inline-block;
}
div#q1{
    background-color: skyblue;

}
div#q2{
    background-image: linear-gradient( to bottom, yellow, orange);
    
}
div#q3{
    background-image: url(img/wallpaper002.jpg);
    
}