@charset "UTF-8";

body{
    background-color: rgb(200, 255, 200);
    font-family: Arial, Helvetica, sans-serif ;
}
h1{
    color: rgb(0, 99, 0);
}

h1#principal{
    text-align: center;
}

h2{
   color: rgb(73, 112, 73);
}
.basico{
   color: rgb(73, 112, 73);
}

.intermediario{
   color: rgb(62, 138, 62);
}

.avancado{
    color: rgb(0, 200, 0);

}
.destaque{
    background-color: rgba(147, 189, 106, 0.363);
}
