@charset "UTF-8";
body {
            background-color: lightskyblue;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
        p{
            text-align: justify;
        }
        h1{
            color: blue;
        }
        h2{
            color: darkred;
        }